ul{
  list-style: none;
  /* text-decoration-line: line-through; */
}
.aaa
{
  text-decoration: none ;
  color: black;
  font-weight: 500;
  font-size: 25px;
  margin: 10px;
  color: whitesmoke;
}
nav{
  background-color: burlywood;
  display: flex;
  justify-content: flex-end;
  padding : 0 15px 0 15px;
  margin : 0 25px 0 25px;
}
ul{
  display: flex;
  flex-direction: row;
}
.active
{
  color: rgb(0, 104, 241);
  border-bottom: 2px solid red;
}
@keyframes lineUnder
{
  to
  {
    width: 0px;
  }
  from
  {
    width: 100%;
  }
}
.aaa:hover
{
  border-bottom: 2px dotted brown;
}